<launch>

  <!-- load the joint state controller -->  
  <rosparam file="$(find abb_irb120_robotiq_gazebo)/controller/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" args="joint_state_controller" />

  <!-- load the arm controller -->  
  <rosparam file="$(find abb_irb120_robotiq_gazebo)/controller/irb120_arm_controller.yaml" command="load"/>
  <node name="abb_irb120_controller_spawner" pkg="controller_manager" type="spawner" args="joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            joint5_position_controller
            joint6_position_controller" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
  </node>

<!--   <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
  output="screen" ns="/abb_irb120" args="joint_state_controller
            joint1_position_controller
            joint2_position_controller
            joint3_position_controller
            joint4_position_controller
            joint5_position_controller
            joint6_position_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
  respawn="false" output="screen">
    <remap from="/joint_states" to="/abb_irb120/joint_states" />
  </node> -->

</launch>
