<?xml version="1.0" ?>

<robot name="abb_irb120_robotiq" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.1415926535897931" />

	<xacro:include filename="$(find abb_irb120_robotiq)/urdf/irb120_robotiq.gazebo"/>
	<xacro:include filename="$(find abb_irb120_robotiq)/urdf/materials.xacro"/>
	<xacro:include filename="$(find abb_irb120_gazebo)/urdf/irb120_macro.xacro"/>
	<xacro:include filename="$(find abb_irb120_gazebo)/urdf/irb120_transmission.xacro"/>
	<xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro"/>

	<xacro:abb_irb120 prefix="robot_"/>	
	<xacro:abb_irb120_transmission prefix="robot_"/>	

	<xacro:robotiq_hand prefix="robotiq_" reflect="-1" parent="robot_link_6">
	   <origin xyz="0.06 0 0" rpy="0 0 ${-PI/2}"/>
	</xacro:robotiq_hand>

	<!-- Used for fixing robot to Gazebo world -->
	<link name="world"/>
	<joint name="fixed" type="fixed">
	  <parent link="world"/>
	  <child link="robot_base_link"/>
	</joint>



<!-- 	<xacro:include filename="$(find robotiq_hand_description)/urdf/robotiq_hand.urdf.xacro" />
	<xacro:robotiq_hand prefix="robotiq_" parent="link_6" reflect="-1">
	  <origin rpy="${pi/2} 0 ${pi}" xyz="0 0 0"/>
	</xacro:robotiq_hand>

	<gazebo>
	  <plugin name="left_robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
	    <side>left</side>
	    <kp_position>5.0</kp_position>
	    <kd_position>0.5</kd_position>
	  </plugin>	
	</gazebo> -->

<!-- 	<xacro:include filename="$(find abb_irb120_robotiq)/urdf/robotiq_hand_macro.xacro"/>

	<xacro:robotiq_hand prefix="robotiq_" reflect="-1" parent="robot_link_6">
	   <origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:robotiq_hand> -->


<!-- 	<xacro:include filename="$(find abb_irb120_robotiq)/urdf/minnesota_board_macro.xacro"/>
	<xacro:minnesota_board prefix=""/>
	<joint name="board_to_world" type="fixed">
	  <origin rpy="0 0 ${pi/2}" xyz="0.32 -0.4265 0"/>
	  <parent link="world"/>
	  <child link="board"/>
	</joint>

	<xacro:include filename="$(find abb_irb120_robotiq)/urdf/minnesota_disc_macro.xacro"/>
	<xacro:minnesota_disc suffix="_1"/>
	<joint name="disc_1_to_world" type="floating">
	  <origin rpy="0 0 0" xyz="0.269 -0.418 0.01"/>
	  <parent link="world"/>
	  <child link="disc_1"/>
	</joint> -->

</robot>
